.invalid-input{
  color: red;
}
#butt
{
border-radius: 12px;
background-color: white;
  color: black;
  border: 2px solid #555555;


}

#butt:hover {background-color: #3e8e41}
#butt:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#itemName
{ 
text-align: center;
}
#req
{
text-align: center;
  font-size: 13px;
}
#name {
  font-size: 13px;
}
#amount {
  font-size: 13px;
}
#inventCode {
  font-size: 13px;
}

