<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

	<div class="w3-container w3-green">
		<br>
		<h1>Ahmed inventory demo </h1>
	</div>

	<div class="w3-row-padding">


		<div class="w3-third">
			<h2>My API</h2>
			<p>You can view the swagger api when server running on the following link:</p>
			<a href="http://localhost:8080/swagger-ui.html">Link to API</a>
		</div>

		<div class="w3-third">
			<h2>Contact</h2>
			<p>Contact the author of this page:</p>

			<address>
				<a href="tel:+972502653577">+972502653577</a><br>
				<a href="mailto:ahmadmassalha2@gmail.com">ahmadmassalha2@gmail.com</a><br>
				<a href="mailto:ahmedmassalha2@gmail.com">ahmedmassalha2@gmail.com</a><br>
				<div>Dabburiya, Postal-Code: 169100, BOX:188</div>
			</address>
		</div>
	</div>

</body>

</html>